# python notes

funzioni di aggregazione

In [1]:
#import numpy and pandas
import numpy as np
import pandas as pd

print('Libraries imported.')

Libraries imported.

In [3]:
df = pd.DataFrame(list(range(10, 41, 10)))
cities = ['Lugano', 'Melide', 'Bellinzona', 'Chiasso']
df['cities'] = cities

print('print first 5 elem of dataset: ')
df.head()

print first 5 elem of dataset:

    0      cities
0  10      Lugano
1  20      Melide
2  30  Bellinzona
3  40     Chiasso

In [4]:
df1 = pd.DataFrame(np.arange(20).reshape(5, 4),
                  columns=['A', 'B', 'C', 'D'])

df1.head()

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [5]:
# elenco delle colonne del dataset 
print('columns: \n', df.columns)

df.rename(columns = {0: 'Id', 'cities' : 'City'}, inplace=True)

# elenco delle colonne del dataset 
print('columns after renaming: \n', df.columns)

df.head()

columns:
 Index([0, 'cities'], dtype='object')
columns after renaming:
 Index(['Id', 'City'], dtype='object')

   Id        City
0  10      Lugano
1  20      Melide
2  30  Bellinzona
3  40     Chiasso

DataSet modified with inline for constructor

In [6]:
# clone original dataset to avoid side effects 
column_to_drop = cities[:]

# dataset with for in line!
column_to_drop = ['city {}'.format(city) for city in cities]

print('cities', cities)
print('column_to_drop', column_to_drop)

#adding new column
df['col-to-drop'] = column_to_drop
df['column_to_drop'] = column_to_drop

df.head()

cities ['Lugano', 'Melide', 'Bellinzona', 'Chiasso']
column_to_drop ['city Lugano', 'city Melide', 'city Bellinzona', 'city Chiasso']

   Id        City      col-to-drop   column_to_drop
0  10      Lugano      city Lugano      city Lugano
1  20      Melide      city Melide      city Melide
2  30  Bellinzona  city Bellinzona  city Bellinzona
3  40     Chiasso     city Chiasso     city Chiasso

In [7]:
# drop column
df.drop(['column_to_drop'], axis=1, inplace=True)
df.drop(columns = {'col-to-drop'}, inplace=True)

df.head()

   Id        City
0  10      Lugano
1  20      Melide
2  30  Bellinzona
3  40     Chiasso

In [8]:

print()
 
print('deviazione standard', df.loc[:, 'Id'].std())

print()
print('Index:', list(df.index))

print()
print('print column Id \n{}'.format(df[:]['Id']) )

print()
print('print first cell \n{}'.format(df[:]['Id']))

print('\nString formatting: print first elem of dataset using loc: {}'.format( df.loc[0]['Id'] ))

df.head()

deviazione standard 12.909944487358056

Index: [0, 1, 2, 3]

print column Id
0    10
1    20
2    30
3    40
Name: Id, dtype: int64

print first cell
0    10
1    20
2    30
3    40
Name: Id, dtype: int64

String formatting: print first elem of dataset using loc: 10

   Id        City
0  10      Lugano
1  20      Melide
2  30  Bellinzona
3  40     Chiasso

In [9]:
print(df['Id'].value_counts())

30    1
20    1
10    1
40    1
Name: Id, dtype: int64

# How append rows to DataFrame

In [10]:
df = df.append([df]*1)
df.head(20)

   Id        City
0  10      Lugano
1  20      Melide
2  30  Bellinzona
3  40     Chiasso
0  10      Lugano
1  20      Melide
2  30  Bellinzona
3  40     Chiasso

In [11]:
df = df.append([df]*2, ignore_index=True)
#df.reset_index(inplace=True)
#df.drop('index', axis=1, inplace=True)
df.head(50).transpose()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
Id,10,20,30,40,10,20,30,40,10,20,...,30,40,10,20,30,40,10,20,30,40
City,Lugano,Melide,Bellinzona,Chiasso,Lugano,Melide,Bellinzona,Chiasso,Lugano,Melide,...,Bellinzona,Chiasso,Lugano,Melide,Bellinzona,Chiasso,Lugano,Melide,Bellinzona,Chiasso

In [12]:
df = df.sort_values(by='Id', ascending=True, axis=0) #axis=0 means rows, axis=1 col
df.head(100).transpose()

,0,16,12,4,8,20,13,17,9,5,...,2,14,6,18,19,11,7,3,15,23
Id,10,10,10,10,10,10,20,20,20,20,...,30,30,30,30,40,40,40,40,40,40
City,Lugano,Lugano,Lugano,Lugano,Lugano,Lugano,Melide,Melide,Melide,Melide,...,Bellinzona,Bellinzona,Bellinzona,Bellinzona,Chiasso,Chiasso,Chiasso,Chiasso,Chiasso,Chiasso

In [12]:
#df.reset_index(inplace=True)
#df.drop('index', axis=1, inplace=True)

#df.head(100)

In [13]:
df['City'].value_counts()

Chiasso       6
Melide        6
Lugano        6
Bellinzona    6
Name: City, dtype: int64

In [14]:
df['City'].value_counts().max()

6

In [15]:
df['City'].value_counts().idxmax()

'Chiasso'

In [14]:
import math

# print the existing data type of each column 
df.info()

#missing_data = df.append([0, float('nan')])
missing_data = df.append([0])
missing_data = missing_data.append([None])
missing_data = missing_data.append([None, 'None'])
missing_data = missing_data.append([100])


print()
missing_data.info()

missing_data.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 0 to 23
Data columns (total 2 columns):
Id      24 non-null int64
City    24 non-null object
dtypes: int64(1), object(1)
memory usage: 576.0+ bytes

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 0
Data columns (total 3 columns):
0       3 non-null object
City    24 non-null object
Id      24 non-null float64
dtypes: float64(1), object(2)
memory usage: 928.0+ bytes

      0    City    Id
0   NaN  Lugano  10.0
16  NaN  Lugano  10.0
12  NaN  Lugano  10.0
4   NaN  Lugano  10.0
8   NaN  Lugano  10.0
20  NaN  Lugano  10.0
13  NaN  Melide  20.0
17  NaN  Melide  20.0
9   NaN  Melide  20.0
5   NaN  Melide  20.0

In [17]:
print('dataframe types')
df.dtypes

dataframe types

Id       int64
City    object
dtype: object

In [18]:
df.describe()

              Id
count  24.000000
mean   25.000000
std    11.420805
min    10.000000
25%    17.500000
50%    25.000000
75%    32.500000
max    40.000000

In [19]:
df.describe(include='all')

               Id     City
count   24.000000       24
unique        NaN        4
top           NaN  Chiasso
freq          NaN        6
mean    25.000000      NaN
std     11.420805      NaN
min     10.000000      NaN
25%     17.500000      NaN
50%     25.000000      NaN
75%     32.500000      NaN
max     40.000000      NaN

# convert the series to a Dataframe

In [20]:

#We can convert the series to a Dataframe as follows :
print(df['Id'].value_counts())

df['Id'].value_counts().to_frame()

30    6
20    6
10    6
40    6
Name: Id, dtype: int64

    Id
30   6
20   6
10   6
40   6

# missing values

In [15]:
missing_data.head(10)

      0    City    Id
0   NaN  Lugano  10.0
16  NaN  Lugano  10.0
12  NaN  Lugano  10.0
4   NaN  Lugano  10.0
8   NaN  Lugano  10.0
20  NaN  Lugano  10.0
13  NaN  Melide  20.0
17  NaN  Melide  20.0
9   NaN  Melide  20.0
5   NaN  Melide  20.0

In [22]:
#printing missing data counts

for column in missing_data.columns.values.tolist():
    print('column:', column)
    print (missing_data[column].value_counts())
    print("")  

#=======================================================================================================
# Drop the rows with 'nan' values 
new_missing_data = missing_data.dropna() 
new_missing_data.head()

column: 0
100     1
None    1
0.0     1
Name: 0, dtype: int64

column: City
Chiasso       6
Melide        6
Lugano        6
Bellinzona    6
Name: City, dtype: int64

column: Id
40.0    6
30.0    6
20.0    6
10.0    6
Name: Id, dtype: int64

Empty DataFrame
Columns: [0, City, Id]
Index: []

In [23]:
#=======================================================================================================
df.isnull()
missing_data.isnull()
#df.dropna(subset=["price"], axis=0) #drop all rows with null price (axis=0 -> rows)

        0   City     Id
0    True  False  False
16   True  False  False
12   True  False  False
4    True  False  False
8    True  False  False
20   True  False  False
13   True  False  False
17   True  False  False
9    True  False  False
5    True  False  False
21   True  False  False
1    True  False  False
10   True  False  False
22   True  False  False
2    True  False  False
14   True  False  False
6    True  False  False
18   True  False  False
19   True  False  False
11   True  False  False
7    True  False  False
3    True  False  False
15   True  False  False
23   True  False  False
0   False   True   True
0    True   True   True
0    True   True   True
1   False   True   True
0   False   True   True

# Round column values

In [10]:
serie = pd.Series(list('abca'))

dataframe = pd.get_dummies(serie)

dataframe = dataframe.round({'column-name': 2})

dataframe

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

# Pivot  to fix

In [24]:
#pivoting

# grouping results
df_gptest = df[['drive-wheels','body-style','price']]
grouped_test1 = df_gptest.groupby(['drive-wheels','body-style'],as_index=False).mean()
grouped_test1
grouped_pivot = grouped_test1.pivot(index='drive-wheels',columns='body-style')
grouped_pivot

KeyError: "None of [Index(['drive-wheels', 'body-style', 'price'], dtype='object')] are in the [columns]"

In [25]:
#dummy_variable_1
# merge data frame "df" and "dummy_variable_1" 
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "fuel-type" from "df"
df.drop("fuel-type", axis = 1, inplace=True)
#=======================================================================================================

dummy_variable_1 = pd.get_dummies(df["fuel-type"])
dummy_variable_1.head()

NameError: name 'dummy_variable_1' is not defined

# bins

In [26]:
bins = np.linspace(min(df["Id"]), max(df["Id"]), 8)
bins

array([10.        , 14.28571429, 18.57142857, 22.85714286, 27.14285714,
       31.42857143, 35.71428571, 40.        ])

In [27]:

#df['Id-binned'] = pd.cut(df['Id'], bins, labels=group_names, include_lowest=True )
df['Id-binned'] = pd.cut(df['Id'], bins,  include_lowest=True )

df[['Id','Id-binned']].head(20)

df["Id-binned"].value_counts()

(35.714, 40.0]      6
(27.143, 31.429]    6
(18.571, 22.857]    6
(9.999, 14.286]     6
(31.429, 35.714]    0
(22.857, 27.143]    0
(14.286, 18.571]    0
Name: Id-binned, dtype: int64

In [28]:
df.head()

    Id    City        Id-binned
0   10  Lugano  (9.999, 14.286]
16  10  Lugano  (9.999, 14.286]
12  10  Lugano  (9.999, 14.286]
4   10  Lugano  (9.999, 14.286]
8   10  Lugano  (9.999, 14.286]

# plot

In [ ]:
sns.boxplot(x="drive-wheels", y="price", data=df)

sns.regplot(x='stroke', y='price', data=df)

# p-value

What is this P-value? The P-value is the probability value that the correlation between these two variables is statistically significant. Normally, we choose a significance level of 0.05, which means that we are 95% confident that the correlation between the variables is significant.

By convention, when the

p-value is  <  0.001: we say there is strong evidence that the correlation is significant.
the p-value is  <  0.05: there is moderate evidence that the correlation is significant.
the p-value is  <  0.1: there is weak evidence that the correlation is significant.
the p-value is  >  0.1: there is no evidence that the correlation is significant.
We can obtain this information using "stats" module in the "scipy" library.

# normalize to fix

In [29]:
# replace (original value) by (original value)/(maximum value)
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()

print(df.head())
print(df['city-mpg'].std())
print(df['city-mpg'].value_counts())

bins = np.linspace(min(df["horsepower"]), max(df["horsepower"]), 4)
bins

group_names = ['Low', 'Medium', 'High']

df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names, include_lowest=True )
df[['horsepower','horsepower-binned']].head(20)

df["horsepower-binned"].value_counts()

KeyError: 'length'

# recap to fix

In [32]:
#pandas recap
#sort
years = ['A', 'B']
df_can = pd.DataFrame(np.arange(20).reshape(5, 4),
                  columns=['A', 'B', 'C', 'Total'])
print('df_can')
print(df_can.head())

df_top_5_countries = df_can.sort_values(by = 'Total', ascending = False, axis = 0).head(5)[years].transpose()
myRange = range(1980, 2014)
myMap = map(str, myRange)
myYears = list(myMap)
myYears

url = 'https://labs.cognitiveclass.ai/tools/jupyterlab/lab/tree/labs/DV0101EN/DV0101EN-1-1-1-Introduction-to-Matplotlib-and-Line-Plots-py-v2.0.ipynb'

#panda dataframe filter 
#df_dsn = df_can.loc[['Denmark', 'Norway', 'Sweden'], :]
df_dsn = df_can.loc[[0, 1, 2], :]


# let's rename the columns so that they make sense
df_can.rename (columns = {'OdName':'Country', 'AreaName':'Continent','RegName':'Region'}, inplace = True)

# for sake of consistency, let's also make all column labels of type string
df_can.columns = list(map(str, df_can.columns))

print()
print('df_can.columns', df_can.columns)

df_can.head()

df_can
    A   B   C  Total
0   0   1   2      3
1   4   5   6      7
2   8   9  10     11
3  12  13  14     15
4  16  17  18     19

df_can.columns Index(['A', 'B', 'C', 'Total'], dtype='object')

    A   B   C  Total
0   0   1   2      3
1   4   5   6      7
2   8   9  10     11
3  12  13  14     15
4  16  17  18     19

# plot

In [33]:
df_top15.plot(kind='barh', figsize=(12, 12), color='steelblue')
plt.xlabel('Number of Immigrants')
plt.title('Top 15 Conuntries Contributing to the Immigration to Canada between 1980 - 2013')

for index, value in enumerate(df_top15): 
    label = format(int(value), ',') # format int with commas
    
    # place text at the end of bar (subtracting 47000 from x, and 0.1 from y to make it fit within the bar)
    plt.annotate(label, xy=(value - 47000, index - 0.10), color='white')

plt.show()

NameError: name 'df_top15' is not defined

# groupby and aggregate function

In [31]:
#Convert the San Francisco dataset
df_crime = pd.read_csv('https://cocl.us/sanfran_crime_dataset')
df_neighborhoods = df_crime.groupby('PdDistrict')['PdDistrict'].agg('count').to_frame('Count').reset_index()

df_neighborhoods.head(30)

   PdDistrict  Count
0     BAYVIEW  14303
1     CENTRAL  17666
2   INGLESIDE  11594
3     MISSION  19503
4    NORTHERN  20100
5        PARK   8699
6    RICHMOND   8922
7    SOUTHERN  28445
8     TARAVAL  11325
9  TENDERLOIN   9942

# foursquare

In [32]:
import requests # library to handle requests
from pandas.io.json import json_normalize


CLIENT_ID = 'PHHF1GSKBJUGYWOKFIMGKJUFOIXBWEDQGYRNSGVSFGGH1BDS' # your Foursquare ID
CLIENT_SECRET = 'KH1DYCIEQMOANMNGZQJQN1XG0IDLWJT4O0NDX3ZMGZS03G2N' # your Foursquare Secret
VERSION = '20200222'
limit = 15 # set limit to be greater than or equal to the total number of tips
venue_id = '3fd66200f964a520f4e41ee3' # ID of Ecco
latitude=40.7149555 
longitude=-74.0153365
LIMIT = 30
search_query = 'Italian'
radius = 500

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

#url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

import requests
results = requests.get(url).json()
results

dataframe = json_normalize(results['response']['venues'])
dataframe.head()

Your credentails:
CLIENT_ID: PHHF1GSKBJUGYWOKFIMGKJUFOIXBWEDQGYRNSGVSFGGH1BDS
CLIENT_SECRET:KH1DYCIEQMOANMNGZQJQN1XG0IDLWJT4O0NDX3ZMGZS03G2N

,categories,delivery.id,delivery.provider.icon.name,delivery.provider.icon.prefix,delivery.provider.icon.sizes,delivery.provider.name,delivery.url,hasPerk,id,location.address,...,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d1ca941735', 'name': 'P...",294544,/delivery_provider_seamless_20180129.png,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",seamless,https://www.seamless.com/menu/harrys-italian-p...,False,4fa862b3e4b0ebff2f749f06,225 Murray St,...,NaN,58,"[225 Murray St, New York, NY 10282, United Sta...","[{'label': 'display', 'lat': 40.71521779064671...",40.715218,-74.014739,10282,NY,Harry's Italian Pizza Bar,v-1582417157
1,"[{'id': '4d4b7105d754a06374d81259', 'name': 'F...",NaN,NaN,NaN,NaN,NaN,NaN,False,4f3232e219836c91c7bfde94,63 W Broadway,...,NaN,469,"[63 W Broadway, New York, NY 10007, United Sta...","[{'label': 'display', 'lat': 40.71448400000000...",40.714484,-74.009806,10007,NY,Conca Cucina Italian Restaurant,v-1582417157
2,"[{'id': '4bf58dd8d48988d110941735', 'name': 'I...",NaN,NaN,NaN,NaN,NaN,NaN,False,3fd66200f964a520f4e41ee3,124 Chambers St,...,btwn Church St & W Broadway,549,[124 Chambers St (btwn Church St & W Broadway)...,"[{'label': 'display', 'lat': 40.71533713859952...",40.715337,-74.008848,10007,NY,Ecco,v-1582417157

In [33]:
# keep only columns that include venue name, and anything that is associated with location
filtered_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')] + ['id']
dataframe_filtered = dataframe.loc[:, filtered_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean column names by keeping only last term
dataframe_filtered.columns = [column.split('.')[-1] for column in dataframe_filtered.columns]

dataframe_filtered

,name,categories,address,cc,city,country,crossStreet,distance,formattedAddress,labeledLatLngs,lat,lng,postalCode,state,id
0,Harry's Italian Pizza Bar,Pizza Place,225 Murray St,US,New York,United States,NaN,58,"[225 Murray St, New York, NY 10282, United Sta...","[{'label': 'display', 'lat': 40.71521779064671...",40.715218,-74.014739,10282,NY,4fa862b3e4b0ebff2f749f06
1,Conca Cucina Italian Restaurant,Food,63 W Broadway,US,New York,United States,NaN,469,"[63 W Broadway, New York, NY 10007, United Sta...","[{'label': 'display', 'lat': 40.71448400000000...",40.714484,-74.009806,10007,NY,4f3232e219836c91c7bfde94
2,Ecco,Italian Restaurant,124 Chambers St,US,New York,United States,btwn Church St & W Broadway,549,[124 Chambers St (btwn Church St & W Broadway)...,"[{'label': 'display', 'lat': 40.71533713859952...",40.715337,-74.008848,10007,NY,3fd66200f964a520f4e41ee3